.hero__about-btn, .form__btn, .hero__btn, .header-btn {
  color: #fff;
  background: #5c8692;
  border: none;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.hero__about-btn:hover, .form__btn:hover, .hero__btn:hover, .header-btn:hover {
  cursor: pointer;
  background-color: #1e2c30;
  box-shadow: 3px 3px 3px 3px rgba(30, 44, 48, 0.5);
}

.blog__btn, .form__btn, .price__btn, .services__item-btn, .hero__btn {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.experts .experts__title, .values .values__title, .comment .comment__title {
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #141414;
}

.about .about__container-wrapper .about__info, .values .values__list .values__item .values__item-info {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Playfair Display", sans-serif;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.545;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
  text-align: center;
}

.header-icon {
  margin-right: 12px;
}

.header__logo-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  color: #141414;
}

.price__first-list {
  margin-left: 68px;
}

.price__seond-list {
  margin-right: 68px;
}

.header__menu {
  border: none;
  background-color: transparent;
}
.header__menu:hover {
  cursor: pointer;
}

.header-btn {
  display: flex;
  align-items: center;
  width: 199px;
  height: 50px;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
}

.hero__btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 250px;
  height: 65px;
  background: #5c8692;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    margin: 0;
  }
}

.services__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 180px;
  height: 55px;
  color: #141414;
  background-color: transparent;
  border: 2px solid #5c8692;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 300ms;
}
.services__item-btn:hover {
  cursor: pointer;
  background-color: #5c8692;
  color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(30, 44, 48, 0.5);
}

.price__btn {
  color: #141414;
  border: 2px solid #5c8692;
  width: 249px;
  height: 65px;
  background-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 300ms;
}
.price__btn:hover {
  cursor: pointer;
  background-color: #5c8692;
  color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(30, 44, 48, 0.5);
}

.form__btn {
  width: 399px;
  height: 64px;
  background: #5c8692;
  border: none;
  color: #fff;
}

.blog__btn {
  line-height: 1.25;
  color: #141414;
  border: 2px solid #5c8692;
  width: 250px;
  height: 65px;
  background-color: transparent;
  display: block;
  margin: auto;
  transition-property: background-color, box-shadow, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.blog__btn:hover {
  cursor: pointer;
  background-color: #5c8692;
  box-shadow: 3px 3px 3px 3px rgba(30, 44, 48, 0.5);
  color: #fff;
  border: none;
}

@media screen and (min-width: 480px) {
  .header__btn-icon {
    margin-right: 5px;
  }
}
@media screen and (min-width: 768px) {
  .price__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .services__item-btn {
    display: block;
    margin: 0;
  }
  .price__btn {
    margin: 0;
  }
}
.hero__about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 32px;
}

.share__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 65px;
  margin: auto;
  margin-bottom: 150px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: #5c8692;
}

@media screen and (min-width: 1200px) {
  .hero__about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 32px;
  }
  .share__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 65px;
    margin: auto;
    margin-bottom: 150px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #5c8692;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header__container {
  display: none;
}

.mobile-container {
  display: flex;
  justify-content: space-between;
}

.header__menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 32px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: #ebf3f5;
}
.header__menu-container.is-open {
  transform: translateX(0);
}
.header__menu-container .menu__container-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.comment__item-container {
  background: #1e2c30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}

.blog__item-container {
  padding: 30px 26px;
}

@media screen and (min-width: 768px) {
  .comment__item-container {
    justify-content: space-evenly;
  }
  .discount__container {
    display: flex;
    justify-content: space-between;
  }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .section__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price__container {
    display: flex;
    align-items: center;
    height: 640px;
  }
  .price__container .content-wrapper {
    margin-right: 0;
  }
  .discount__wrapper {
    display: flex;
    align-items: center;
  }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__container::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 1200px;
    height: 1px;
    opacity: 0.15;
    margin: 52px 0;
  }
  .footer__container-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
  }
  .copyright__wrapper {
    background: #111e22;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1500px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 38px 57px;
    align-items: center;
  }
  .header__container .header-container__wrapper {
    display: flex;
    align-items: center;
  }
  .header__menu-container {
    display: none;
  }
  .logo__icon-wrapper {
    display: flex;
    align-items: center;
    margin-right: 46px;
  }
  .content-wrapper {
    margin-right: 72px;
  }
  .discount__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #95bfcb;
    width: 455px;
    height: 145px;
    background-color: #fff;
  }
  .discount__container .discount__item-container {
    margin-left: 20px;
  }
}
.values__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid #000;
  background-color: #f2fcff;
}

@media screen and (min-width: 1200px) {
  .values__icon-wrapper {
    margin-right: 32px;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 50%;
  bottom: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(47, 48, 58, 0.4);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(10%, 25%);
}
.backdrop .modal .form {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: 667px;
  padding: 40px 50px;
  box-shadow: 0 20px 40px 0 rgba(42, 68, 75, 0.13);
  background: #fff;
}
.backdrop .modal .form .form__list-item {
  position: relative;
  margin-bottom: 15px;
}
.backdrop .modal .form .form__item-input {
  width: 400px;
  height: 65px;
  border: 1px solid #5c8692;
  padding-left: 54px;
}
.backdrop .modal .form .form__item-input:focus {
  outline: none;
}
.backdrop .modal .form .form__item-textarea {
  padding-top: 21px;
  width: 399px;
  height: 136px;
  resize: none;
}
.backdrop .modal .form .form__item-icon {
  position: absolute;
  top: 21px;
  left: 15px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .backdrop {
    top: 50%;
    left: 50%;
  }
  .backdrop .modal {
    right: -50%;
    bottom: 50%;
    top: 0;
    left: 0;
  }
}
@media screen and (min-widt: 1200px) {
  .backdrop {
    position: fixed;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(47, 48, 58, 0.4);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .backdrop .modal {
    position: absolute;
    right: 0;
    bottom: 0;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    transform: translate(-100%, -30%);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .header__menu {
  display: inline;
}
.header .header__logo-link {
  display: block;
  height: auto;
}
.header .logo__icon-wrapper {
  display: flex;
  align-items: center;
}
.header .header-call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 23px;
  margin-right: 0;
  margin-bottom: 80px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #141414;
}
.header .header-call .header__icon-call {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: center;
  }
}
@media screen and (min-width: 1500px) {
  .header {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .header__menu {
    display: none;
  }
  .header .header__logo-link {
    display: flex;
    align-items: center;
  }
  .header .header-call {
    font-size: 18px;
    width: 270px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .header .header-call .header__icon-call {
    margin-right: 12px;
  }
  .header .header__btn-icon {
    margin-right: 12px;
  }
  .header .header__desktop {
    display: none;
  }
}
.form {
  display: none;
}

@media screen and (min-width: 1200px) {
  .form {
    display: block;
    width: 550px;
    height: 667px;
    box-shadow: 0 20px 40px 0 rgba(42, 68, 75, 0.13);
    background: #fff;
    padding: 66px 75px;
    margin-left: 115px;
  }
  .form .form__list-item {
    position: relative;
    margin-bottom: 15px;
  }
  .form .form__item-input {
    border: 1px solid #5c8692;
    width: 400px;
    height: 65px;
    padding-left: 54px;
  }
  .form .form__item-input:focus {
    outline: none;
  }
  .form .form__item-textarea {
    resize: none;
    padding-top: 21px;
    width: 399px;
    height: 136px;
  }
  .form .form__item-icon {
    position: absolute;
    top: 21px;
    left: 15px;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .header__nav-item:not(:last-child) {
  margin-bottom: 30px;
}
.nav .header__item-link {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  line-height: 1.25;
  color: #555;
}
.nav .nav-media-list {
  display: flex;
  margin: 30px 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

@media screen and (min-width: 1500px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav .header__nav-list {
    display: flex;
    height: 25px;
  }
  .nav .header__nav-list .header__nav-item {
    margin-right: 30px;
  }
  .nav .header__nav-list .header__nav-item::after {
    content: "";
  }
  .nav .header__nav-list .header__nav-item:hover::after {
    content: "";
    margin-top: 5px;
    animation: line cubic-bezier(0.25, 0.46, 0.45, 0.94) 600ms 1;
  }
  @keyframes line {
    0% {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #5c8692;
      transform: translate(-50%, 0);
    }
    100% {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #5c8692;
      transform: translateX(0);
    }
  }
  .nav .header__nav-list .header__nav-item .header__item-link {
    font-size: 18px;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .nav .header__nav-list .header__nav-item .header__item-link:hover {
    color: #5c8692;
  }
  .nav .nav-media-list {
    margin: 0;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .nav .nav-media-list .nav__media-item {
    margin-right: 30px;
  }
  .nav .nav-media-list .nav__media-item .nav__media-icon {
    transition: fill 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .nav .nav-media-list .nav__media-item .nav__media-icon:hover {
    fill: #5c8692;
  }
}
.footer {
  background-color: #1e2c30;
  padding-top: 66px;
}
.footer .footer__logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer .footer__logo-link .footer__icon {
  width: 40px;
}
.footer .footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer .footer__list .footer__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 2px solid #5c8692;
}
.footer .footer__list .footer__list-item .footer__list-icon {
  fill: #fff;
}
.footer .footer__container-item {
  margin-bottom: 30px;
}
.footer .footer__container-item:nth-child(3) {
  width: 324px;
}
.footer .footer__list-title {
  margin-bottom: 21px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  color: #fff;
}
.footer .footer__item-link {
  display: block;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 2;
  letter-spacing: -0.01em;
  color: #fff;
}
.footer .footer__contacts {
  display: flex;
  margin-bottom: 14px;
}
.footer .footer__contacts .footer__item-link:first-child {
  font-weight: 700;
}
.footer .footer__contacts .location {
  width: 236px;
}
.footer .footer__contacts .address {
  margin-right: 14px;
}
.footer .footer__contacts .mail {
  margin-right: 47px;
}
.footer .footer__contacts .tel {
  margin-right: 29px;
}
.footer .copyright {
  display: block;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }
  .footer .footer__container-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
  }
  .footer .footer__container-list .footer__container-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-color: #1e2c30;
    padding-top: 66px;
  }
  .footer .footer__logo-link {
    margin-bottom: 0;
    font-size: 40px;
  }
  .footer .footer__list {
    margin-bottom: 0;
  }
  .footer .footer__list .footer__list-item {
    transition-property: background-color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .footer .footer__list .footer__list-item:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px, 3px 3px 3px 3px rgba(32, 80, 94, 0.5);
    background-color: #5c8692;
  }
  .footer .footer__container-list {
    flex-wrap: nowrap;
  }
  .footer .footer__container-list .footer__container-:not(:last-child) {
    margin-right: 129px;
  }
  .footer .footer__container-list .footer__container-item:nth-child(3) {
    width: 324px;
  }
}
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EBF3F5;
}
.hero .hero__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.hero .hero__title {
  margin-bottom: 24px;
  font-size: 35px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #141414;
}
.hero .hero__info {
  margin-bottom: 34px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  color: #555;
}
.hero .hero__img {
  display: none;
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
}
.services .services__img {
  margin: 30px auto;
}
.services .services__item-title {
  margin-bottom: 11px;
  margin-top: 26px;
  font-size: 26px;
  line-height: 1.2;
  color: #141414;
  text-align: center;
}
.services .services__item-info {
  margin-bottom: 15px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: #555;
  text-align: center;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ebf3f5;
}
.about .about__title {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #141414;
  margin-top: 9px;
  margin-bottom: 16px;
  text-align: center;
}
.about .about__info {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.65;
  width: 300px;
  color: #555;
}
.about .about__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 37px;
}
.about .about__list .about__list-item {
  width: 165px;
  height: 180px;
  margin-bottom: 30px;
  padding: 21px 11px;
  border: 1px solid #1e2c30;
  background-color: #fff;
}
.about .about__list .about__list-item .about__item-icon {
  display: block;
  margin: auto;
}
.about .about__list .about__list-item .about__item-title {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #141414;
  margin-top: 14px;
}
.about .about__img {
  display: none;
}

.price {
  padding-top: 146px;
  padding-bottom: 145px;
}
.price .price__title {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #141414;
  margin-top: 9px;
  margin-bottom: 50px;
}
.price .first__price-container {
  margin-bottom: 40px;
}
.price .price__first-list {
  margin-left: 0;
}
.price .price__img {
  display: none;
}
.price .price__list-item {
  margin-bottom: 33px;
  border-bottom: 1px solid #9bb7bf;
}
.price .price__list-item .price__item-title {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 5px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #141414;
}
.price .price__list-item .price__item-title .price__title-part {
  display: none;
}
.price .price__list-item .from {
  margin-right: 5px;
  margin-left: 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: #555;
}
.price .price__list-item .price__item-info {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: #555;
  margin-bottom: 22px;
}

.comment {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ebf3f5;
}
.comment .comment__subtitle {
  font-size: 13px;
}
.comment .comment__title {
  font-size: 23px;
}
.comment .comment__list {
  margin-top: 30px;
}
.comment .comment__list .comment__list-item {
  width: auto;
  margin-bottom: 40px;
  background-color: #fff;
}
.comment .comment__list .comment__list-item .comment__item-text {
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  line-height: 1.8;
  color: #141414;
  padding: 44px 44px 44px 49px;
}
.comment .comment__list .comment__list-item .comment__img {
  width: 74px;
  height: 74px;
  border: 1px solid #fff;
}
.comment .comment__list .comment__list-item .comment__item-title {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: #fff;
  width: 138px;
}
.comment .comment__list .comment__list-item .comment__item-country {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #fff;
}

.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
}
.benefits .benefits__subtitle {
  margin-bottom: 9px;
  font-size: 13px;
}
.benefits .benefits__title {
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #141414;
  margin-bottom: 43px;
}
.benefits .benefits__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits .benefits__list-item .benefits__item-title {
  margin-top: 20px;
  margin-bottom: 11px;
  text-align: center;
  font-size: 26px;
  line-height: 1.2;
  color: #141414;
}
.benefits .benefits__list-item .benefits__item-info {
  margin: auto;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: #555;
}

.discount {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ebf3f5;
}
.discount .discount__title {
  margin-top: 9px;
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #141414;
}
.discount .discount__info {
  margin-bottom: 37px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.75;
  color: #555;
}
.discount .discount__list {
  margin-left: 40px;
}
.discount .discount__list .discount__list-item {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.discount .discount__list .discount__list-item .discount__container-title,
.discount .discount__list .discount__list-item .discount__container-link {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #141414;
}
.discount .discount__list .discount__list-item .discount__container-link {
  font-weight: 500;
  font-size: 15px;
  text-transform: lowercase;
}
.discount .discount__container-block {
  width: 167px;
  height: 144px;
  margin: auto;
  background: #1e2c30;
}
.discount .discount__container-block .discount__block-title {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 1.75;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 6px;
}
.discount .discount__container-block .discount__block-amount {
  display: block;
  margin: auto;
}
.discount .discount__container-block .discount__block-text {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 8px;
}

.blog {
  padding-top: 50px;
  padding-bottom: 50px;
}
.blog .blog__subtitle {
  margin-bottom: 4px;
}
.blog .blog__title {
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #141414;
  margin-bottom: 40px;
}
.blog .blog__list {
  margin-bottom: 60px;
}
.blog .blog__list .blog__list-item {
  margin-bottom: 40px;
  background-color: #edf5f7;
  animation: circle 2000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
@keyframes circle {
  0% {
    transform: translateX(-20px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.blog .blog__list .blog__list-item .blog__item-data {
  display: flex;
  margin-bottom: 8px;
}
.blog .blog__list .blog__list-item .blog__item-data .blog__data-time {
  display: flex;
  align-items: center;
}
.blog .blog__list .blog__list-item .blog__item-data .blog__data-time,
.blog .blog__list .blog__list-item .blog__item-data .blog__data-author {
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  color: #5c8692;
}
.blog .blog__list .blog__list-item .blog__item-data .blog__data-time::after {
  content: "";
  display: block;
  width: 20px;
  height: 0px;
  margin-right: 7px;
  margin-left: 7px;
  border: 2px solid #272d32;
}
.blog .blog__list .blog__list-item .blog__item-title {
  margin-bottom: 14px;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #141414;
}
.blog .blog__list .blog__list-item .blog__item-info {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.02em;
  color: #555;
}

@media screen and (min-width: 480px) {
  .services .services__img {
    width: 100%;
  }
  .about .about__title {
    font-size: 30px;
  }
  .about .about__info {
    width: auto;
  }
  .about .about__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .blog {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .blog .blog__list .blog__list-item {
    animation: none;
  }
  .blog .blog__list .blog__list-item .blog__item-img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .services .services__img {
    width: auto;
  }
  .services .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .services .services__list .services__list-item {
    flex-basis: calc((100% - 10px) / 2);
  }
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about .about__title {
    font-size: 28px;
  }
  .about .about__info {
    width: auto;
    text-align: center;
  }
  .about .about__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .benefits .benefits__title {
    font-size: 35px;
  }
  .benefits .benefits__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .benefits .benefits__list .benefits__list-item {
    align-items: start;
    flex-direction: column;
    flex-basis: calc((100% - 20px) / 2);
  }
  .benefits .benefits__list .benefits__list-item .benefits__item-title {
    width: 340px;
    text-align: start;
  }
  .benefits .benefits__list .benefits__list-item .benefits__item-info {
    width: 340px;
  }
  .discount {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .discount .discount__list-item {
    align-items: baseline;
  }
  .discount .discount__list-item .discount__list-icon {
    margin-right: 20px;
  }
  .blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .blog .blog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .blog .blog__list .blog__list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 131px;
    padding-bottom: 136px;
  }
  .hero .hero__subtitle {
    justify-content: start;
    margin-bottom: 7px;
  }
  .hero .hero__subtitle .hero__icon {
    margin-right: 9px;
  }
  .hero .hero__title {
    width: 510px;
    font-size: 70px;
    text-align: start;
  }
  .hero .hero__info {
    width: 500px;
    font-size: 19px;
    text-align: start;
  }
  .hero .hero__img {
    display: block;
    box-shadow: 0 20px 60px 0 rgba(47, 68, 73, 0.46);
  }
  .services {
    padding-top: 151px;
    padding-bottom: 151px;
  }
  .services .services__list {
    -moz-column-gap: 105px;
         column-gap: 105px;
  }
  .services .services__list .services__list-item {
    flex-basis: calc((100% - 210px) / 3);
  }
  .services .services__list .services__list-item .services__img {
    margin: 0;
  }
  .services .services__list .services__list-item .services__item-title {
    text-align: start;
  }
  .services .services__list .services__list-item .services__item-info {
    text-align: start;
  }
  .about {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .about .about__title {
    width: 435px;
    text-align: start;
    font-size: 45px;
  }
  .about .about__info {
    width: 529px;
    text-align: start;
    font-size: 18px;
  }
  .about .about__list {
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-top: 37px;
  }
  .about .about__list .about__list-item {
    margin-bottom: 0;
  }
  .about .about__list .about__list-item .about__item-icon {
    display: block;
    margin: auto;
  }
  .about .about__img {
    display: block;
    margin-left: 125px;
  }
  .price {
    padding-top: 146px;
    padding-bottom: 145px;
  }
  .price .price__title {
    font-size: 45px;
    width: 659px;
    margin: auto;
  }
  .price .price__img {
    display: block;
    width: 600px;
    height: 640px;
  }
  .price .price__list-item .price__item-title {
    width: auto;
  }
  .price .price__list-item .price__item-title .price__title-part {
    display: block;
  }
  .comment {
    padding-top: 147px;
    padding-bottom: 147px;
  }
  .comment .comment__title {
    font-size: 45px;
  }
  .comment .comment__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
  .comment .comment__list .comment__list-item {
    margin-bottom: 0;
  }
  .comment .comment__list .comment__list-item .comment__container-wrapper {
    margin-left: 20px;
    margin-right: 178px;
  }
  .benefits {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .benefits .benefits__title {
    font-size: 45px;
  }
  .benefits .benefits__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 105px;
         column-gap: 105px;
    row-gap: 35px;
  }
  .benefits .benefits__list .benefits__list-item {
    flex-basis: calc((100% - 210px) / 3);
  }
  .benefits .benefits__list .benefits__list-item .benefits__item-title,
  .benefits .benefits__list .benefits__list-item .benefits__item-info {
    width: auto;
  }
  .discount {
    padding-top: 132px;
    padding-bottom: 131px;
    background-color: #ebf3f5;
  }
  .discount .discount__title {
    width: 435px;
    font-size: 45px;
  }
  .discount .discount__info {
    width: 534px;
  }
  .discount .discount__list .discount__list-item {
    align-items: baseline;
  }
  .discount .discount__list .discount__list-item .discount__list-icon {
    margin-right: 0;
  }
  .discount .discount__container-block {
    margin: 0;
  }
  .blog {
    padding-top: 145px;
    padding-bottom: 150px;
  }
  .blog .blog__list {
    flex-wrap: nowrap;
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
}
@media screen and (min-width: 1500px) {
  .hero {
    background: url("../images/hero-bg_2.jpg") no-repeat right 25%;
  }
}
.hero__about {
  padding-top: 60px;
  padding-bottom: 70px;
  background-image: url("../images/about-bg.png");
  background-repeat: no-repeat;
}
.hero__about .hero__about-subtitle {
  margin-bottom: 10px;
  color: #fff;
}
.hero__about .hero__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

.values {
  padding-top: 50px;
  padding-bottom: 50px;
}
.values .values__title {
  margin-bottom: 45px;
  font-size: 30px;
}
.values .values__list {
  margin: auto;
}
.values .values__list .values__item {
  display: block;
}
.values .values__list .values__item .values__item-title {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 22px;
  text-align: center;
  line-height: 1.2;
  color: #141414;
}
.values .values__list .values__item .values__item-info {
  text-align: justify;
  color: #555;
}
.values .values__list .values__item::after {
  content: "";
  display: block;
  border: 1px solid #d3d3d3;
  width: auto;
  height: 0px;
  margin: 36px 0;
}

.about {
  padding-top: 137px;
  padding-bottom: 137px;
}
.about .about__container-wrapper {
  position: relative;
  width: 1200px;
  padding: 74px 73px;
  background-color: #1e2c30;
}
.about .about__container-wrapper .about__subtitle,
.about .about__container-wrapper .about__title,
.about .about__container-wrapper .about__info {
  margin-left: 619px;
}
.about .about__container-wrapper .about__subtitle {
  text-align: start;
  color: #fff;
}
.about .about__container-wrapper .about__title {
  width: 460px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
}
.about .about__container-wrapper .about__info {
  width: 508px;
  color: #fff;
}
.about .about__container-wrapper .about__img {
  position: absolute;
  right: 650px;
  top: -55px;
}

.experts {
  padding-top: 129px;
  padding-bottom: 129px;
}
.experts .experts__title {
  width: 659px;
  margin: auto;
}
.experts .experts__list {
  display: flex;
  margin-top: 33px;
}
.experts .experts__list .experts__item:not(:last-child) {
  margin-right: 45px;
}
.experts .experts__list .experts__item-title {
  margin-top: 25px;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #141414;
}
.experts .experts__list .experts__position {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.545;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #5c8692;
}
.experts .experts__list .experts__quote {
  width: 336px;
  margin-top: 8px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #555;
}
.experts .experts__list .experts__list-item {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-top: 8px;
}

.share .share__container {
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
}
.share .share__container .share__subtitle {
  text-align: start;
}
.share .share__container .share__title {
  width: 264px;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #141414;
}
.share .share__container .share__description {
  width: 495px;
  margin-top: 22px;
  margin-bottom: 53px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  color: #555;
}
.share .share__container .image__container {
  margin-left: 52px;
}
.share .share__container .image__container .share__img {
  margin-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .hero__about {
    padding-top: 100px;
    padding-bottom: 90px;
  }
  .hero__about .hero__title {
    font-size: 37px;
  }
  .values {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .values .values__title {
    font-size: 40px;
  }
  .values .values__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .values .values__list .values__item {
    flex-basis: calc((100% - 10px) / 2);
  }
  .values .values__list .values__item .values__item-info {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__about {
    padding-top: 117px;
    padding-bottom: 118px;
  }
  .hero__about .hero__title {
    width: 649px;
    margin: auto;
    font-size: 55px;
  }
  .values {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .values .values__list {
    display: block;
    width: 660px;
    margin: auto;
  }
  .values .values__list .values__item {
    display: flex;
    flex-wrap: wrap;
  }
  .values .values__list .values__item .values__item-title {
    text-align: start;
  }
  .values .values__list .values__item .values__item-info {
    width: 458px;
    text-align: start;
  }
  .values .values__list .values__item::after {
    width: 620px;
  }
  .about {
    padding-top: 137px;
    padding-bottom: 137px;
  }
  .about .about__container-wrapper {
    position: relative;
    width: 1200px;
    padding: 74px 73px;
    background-color: #1e2c30;
  }
  .about .about__container-wrapper .about__subtitle,
  .about .about__container-wrapper .about__title,
  .about .about__container-wrapper .about__info {
    margin-left: 619px;
  }
  .about .about__container-wrapper .about__subtitle {
    text-align: start;
    color: #fff;
  }
  .about .about__container-wrapper .about__title {
    width: 460px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #fff;
  }
  .about .about__container-wrapper .about__info {
    width: 508px;
    color: #fff;
  }
  .about .about__container-wrapper .about__img {
    position: absolute;
    right: 650px;
    top: -55px;
  }
  .experts {
    padding-top: 129px;
    padding-bottom: 129px;
  }
  .experts .experts__title {
    width: 659px;
    margin: auto;
  }
  .experts .experts__list {
    display: flex;
    margin-top: 33px;
  }
  .experts .experts__list .experts__item:not(:last-child) {
    margin-right: 45px;
  }
  .experts .experts__list .experts__item-title {
    margin-top: 25px;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #141414;
  }
  .experts .experts__list .experts__position {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.545;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #5c8692;
  }
  .experts .experts__list .experts__quote {
    width: 336px;
    margin-top: 8px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #555;
  }
  .experts .experts__list .experts__list-item {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 8px;
  }
  .share .share__container {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .share .share__container .share__subtitle {
    text-align: start;
  }
  .share .share__container .share__title {
    width: 264px;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #141414;
  }
  .share .share__container .share__description {
    width: 495px;
    margin-top: 22px;
    margin-bottom: 53px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
    color: #555;
  }
  .share .share__container .image__container {
    margin-left: 52px;
  }
  .share .share__container .image__container .share__img {
    margin-bottom: 46px;
  }
}/*# sourceMappingURL=main.css.map */