.footer {
  background-color: $comment-bg;
  padding-top: 66px;
  .footer__logo-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: $theme-white;
    .footer__icon {
      width: 40px;
    }
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 10px;
    .footer__list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      border: 2px solid $subtitle-color;
      .footer__list-icon {
        fill: $theme-white;
      }
    }
  }
  .footer__container-item {
    margin-bottom: 30px;
    &:nth-child(3) {
      width: 324px;
    }
  }
  .footer__list-title {
    margin-bottom: 21px;
    font-family: $second-family;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.4;
    color: $theme-white;
  }
  .footer__item-link {
    display: block;
    font-style: normal;
    font-family: $font-family;
    font-weight: 500;
    font-size: 17px;
    line-height: 2;
    letter-spacing: -0.01em;
    color: $theme-white;
  }

  .footer__contacts {
    display: flex;
    margin-bottom: 14px;
    .footer__item-link:first-child {
      font-weight: 700;
    }
    .location {
      width: 236px;
    }
    .address {
      margin-right: 14px;
    }
    .mail {
      margin-right: 47px;
    }
    .tel {
      margin-right: 29px;
    }
  }

  .copyright {
    display: block;
    font-family: $font-family;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.01em;
    text-align: center;
    color: $theme-white;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    .footer__container-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      gap: 30px;
      .footer__container-item {
        flex-basis: calc((100% - 1 * 30px) / 2);
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-color: $comment-bg;
    padding-top: 66px;
    .footer__logo-link {
      margin-bottom: 0;
      font-size: 40px;
    }
    .footer__list {
      margin-bottom: 0; 
      .footer__list-item {
        transition-property: background-color, box-shadow;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &:hover {
          cursor: pointer;
          box-shadow: 3px 3px 3px 3px, 3px 3px 3px 3px rgba(32, 80, 94, 0.5);
          background-color: $button-color;
        }
      }

    }
    .footer__container-list {
      flex-wrap: nowrap;
      .footer__container-:not(:last-child) {
        margin-right: 129px;
      }
      .footer__container-item:nth-child(3) {
        width: 324px;
      }
    }
  }
}
