@media screen and (min-width: 480px) {
  .header__menu {
    display: inline;
  }
  .header__logo-link {
    display: block;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    display: none;
  }
  .header__logo-link {
    display: flex;
    align-items: center;
  }
  .header__icon-call {
    margin-right: 12px;
  }

  .header__btn-icon {
    margin-right: 12px;
  }
}
