.services {
  padding-top: 151px;
  padding-bottom: 151px;
  .services__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 105px;
    .services__list-item {
      flex-basis: calc((100% - 2 * 105px) / 3);
      .services__item-title {
        font-size: 26px;
        line-height: 1.2;
        color: $text-color;
        margin-top: 26px;
        margin-bottom: 11px;
      }
      .services__item-info {
        font-family: $font-family;
        font-size: 18px;
        line-height: 1.65;
        letter-spacing: 0.02em;
        color: $color-info;
      }
    }
  }
}
