.header-btn {
  background: $button-color;
  width: 199px;
  height: 50px;
  border: none;
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $theme-white;
  margin-left: 32px;

  transition-property: background-color box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    cursor: pointer;
    background-color: $comment-bg;
    box-shadow: 3px 3px 3px 3px rgba(30, 44, 48, 0.5);
  }
}
