.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.section__container {
  display: flex;
  align-items: center;
}
.content-wrapper {
  margin-right: 72px;
}
.price__container {
  display: flex;
  align-items: center;
  height: 640px;
  .content-wrapper {
    margin-right: 0;
  }
}
