.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.hero__container {
  display: flex;
  align-items: center;
}
.content-wrapper {
  margin-right: 72px;
}