body {
  font-family: $second-family;
}
.subtitle {
  font-family: $font-family;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.545;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.header-icon {
  margin-right: 12px;
}
.header__logo-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  color: $text-color;
}

.price__first-list {
  margin-left: 68px;
}

.price__seond-list {
  margin-right: 68px;
}
